.titlu{
    font-size: 125px;
    font-family: 'Nunito', sans-serif;
    color: rgb(68, 44, 145);
    margin-top: 200px;
    margin-bottom: 50px;
}

.box{
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    grid-template-columns: 3;

}

.parte{
    border: 2px solid;
    display: grid;
    grid-template-columns: 3;
}

.subj,.notes,.abs,.notes2{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: rgb(68, 44, 145);
}

.subj{
    
    display: block;
    align-content: center;
    padding-left:25%;
    padding-right: 25%;
    border: 2px solid;
}

.fain{
    display: flex;
    align-content: space-between;
    
    border: 2px solid;
}

.mod{
    align-content: space-between;
    
    display: flex;
    border: 2px solid;
}

.notes{
    
    border-right: 1px solid;
    padding-left: 1%;
    padding-right: 820px;

}


.notes2{
    padding-left:1%;
    padding-right: 800px;
    border-right:1px;
}

.abs{
   
    border-left: 1px solid;
    padding-right: 1%;
    padding-left: 420px;
    
}