.body{
    background-image: url("131311-green-polygon-background-design.jpg");
}

.chenar{
    border-radius: 7px 50px;
    background: #8ed2c9;
    padding: 20px;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%; 
}

.titlu{
    font-size: 120px;
    font-family: 'Nunito', sans-serif;
    color: #fc7147;
    margin-top: 200px;
    margin-bottom: 50px;
    text-shadow: 0px 0px 10px red;
}

.text{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    color:rgb(36, 21, 84);
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px black;
}

.text2{
    font-family: 'Nunito', sans-serif;
    color:rgb(36, 21, 84);
    text-shadow: 3px 0px 5px black;
}

.box{
    margin-bottom: 20px;
    width: 500px;
    height: 60px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1.5px;
    text-align: center;
    font-size: 14pt;
}

.buton{
    background-color: #4CAF50;   
    width: 500px;  
    color: black;   
    padding: 20px;   
    margin: 10px 10px;   
    border: none;   
    cursor: pointer;
    font-size: 12pt;
    border-radius: 12px;
    transition: 0.3s;
}

button:hover{
    background-color: rgb(68, 156, 71);
    color:white

}

a:link{
    color: red;
    font-size: 14pt;
    transition: 0.3s;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
a:hover{
    color: green;
    font-size: 14pt;
    font-family: 'Nunito', sans-serif;
}

.text2{
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
}

.head{
    display: flex;
}

.logo{
    display: flex;
    margin-top:1%;
    margin-left:1%;
    margin-right: 89%;
}

.sign{
    margin-right: 1%;
    display: flex;
    margin-top:1%;
    
}

.buton2{
    background-color: #4CAF50;   
    color: black;   
    padding: 20px;   
    margin: 10px 10px;   
    border: none;   
    cursor: pointer;
    font-size: 12pt;
    border-radius: 12px;
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
}